@page "/"
@inject NotificationService notificationService

<PageTitle>Index</PageTitle>

<h1>Randy Fabian Belliard (2020-0079)</h1>

<h3>Programaci&oacute;n Aplicada 1 2023-03</h3>


<button @onclick ="MostrarNotificacion">Prueba</button>

@code
{
    
    public void MostrarNotificacion()
    {
        var mensaje = new NotificationMessage{
            Severity = NotificationSeverity.Error,
            Summary = "Notificacion Ejemplo",
            Detail = "Esta es una prueba de notification service",
            Duration = 4_000
        };
        notificationService.Notify(mensaje);
    }
}